.card {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}
.card__image {
  min-height: 282px;
  max-height: 282px;
  object-fit: cover;
}
.card__description {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px 31px 21px;
  color: #000;
}
.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.card__like-button {
  background: transparent url(../images/card-like-button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}
.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
