.card {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.card__image {
  width: 282px;
  height: 282px;
  list-style-type: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card__description {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 25px 20px 25px 20px;
  color: #000;
}
.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.card__like-button {
  background: transparent url(../images/card-like-button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}
.card__like-button:hover {
  opacity: 0.6000000238418579;
  cursor: pointer;
}
