.preview__modal-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 75vw;
  max-height: 75vh;
  background: transparent;
  margin: auto;
  padding: 0;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
.preview__modal-heading {
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
