.profile {
  display: flex;
  align-items: center;
  padding-top: 36px;
  border-top: 1px solid rgba(84, 84, 84, 0.69);
}
.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}
.profile__info {
  display: grid;
  gap: 7px 18px;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 375px) auto;
}
.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 375px;
  margin: 0;
}
.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  max-width: 282px;
  grid-area: description;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.profile__edit-button {
  padding-right: 40px;
  align-self: flex-end;
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  border-style: none;
}
.profile__edit-button:hover {
  opacity: 0.6000000238418579;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../images/add-button.svg) center no-repeat;
  height: 50px;
  width: 150px;
  border-style: none;
  border: 2px solid white;
  margin-left: auto;
  border-radius: 2px;
}
.profile__add-button:hover {
  opacity: 0.6000000238418579;
  cursor: pointer;
}
@media screen and (max-width: 770px) {
  .profile__add-button {
    margin-top: 36px;
    margin-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 50px;
  }
  .profile {
    justify-content: center;
  }
  .profile__title {
    font-size: 30px;
    line-height: 32px;
  }
  .profile__info {
    max-width: 350px;
  }
}
@media screen and (max-width: 480px) {
  .profile {
    padding-left: 0;
    flex-direction: column;
  }
  .profile__image {
    margin-right: 0;
  }
  .profile__title {
    font-size: 22px;
    line-height: 1.2;
    max-width: 200px;
    grid-area: title;
    margin: 0;
  }
  .profile__description {
    max-width: 100px;
    font-size: 14px;
    line-height: 1.2;
  }
  .profile__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 26px;
    max-width: 282px;
  }
  .profile__add-button {
    width: 282px;
    justify-content: center;
    margin-bottom: 0;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
    border: 1px solid white;
    padding: 0;
  }
}
